## Data Preprocessing- Gurgaon Flats Data
### @cipher499
### 06/12/23

In [101]:
import pandas as pd
import numpy as np
import re

In [3]:
# setting to display all the columns and rows in the data
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [64]:
# read the data into a dataframe
df = pd.read_excel('data/gurgaon/flats/flats.xlsx')
df.head()

,property_name,society,price,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [65]:
# dimensions of the dataset
df.shape

(3018, 18)

In [7]:
# columns and their datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3018 entries, 0 to 3017
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   property_name     3018 non-null   object
 1   society           3017 non-null   object
 2   price             3008 non-null   object
 3   area              3005 non-null   object
 4   areaWithType      3009 non-null   object
 5   bedrooms          3009 non-null   object
 6   bathrooms         3009 non-null   object
 7   balconies         3009 non-null   object
 8   additional_room   1695 non-null   object
 9   address           3003 non-null   object
 10  floor_num         3007 non-null   object
 11  facing            2128 non-null   object
 12  age_possession    3008 non-null   object
 13  nearby_locations  2914 non-null   object
 14  description       3009 non-null   object
 15  furnish_details   2204 non-null   object
 16  features          2595 non-null   object
 17  rating            2677 non-null   object
dtypes: object(18)
memory usage: 424.5+ KB

In [11]:
# check for any duplicate rows
df.duplicated().sum()

0

In [12]:
# check for any null values
df.isnull().sum()

property_name          0
society                1
price                 10
area                  13
areaWithType           9
bedrooms               9
bathrooms              9
balconies              9
additional_room     1323
address               15
floor_num             11
facing               890
age_possession        10
nearby_locations     104
description            9
furnish_details      814
features             423
rating               341
dtype: int64

In [66]:
# rename the area column
df.rename(columns={'area':'price_per_sqft'}, inplace=True)
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,45 Lac,"₹ 5,000/sq.ft.",Carpet area: 900 (83.61 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,Apna Enclave,50 Lac,"₹ 7,692/sq.ft.",Carpet area: 650 (60.39 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,Tulsiani Easy in Homes,40 Lac,"₹ 6,722/sq.ft.",Carpet area: 595 (55.28 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,Smart World Orchard,1.47 Crore,"₹ 12,250/sq.ft.",Carpet area: 1200 (111.48 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,Parkwood Westend,70 Lac,"₹ 5,204/sq.ft.",Super Built up area 1345(124.95 sq.m.),2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [67]:
# analyse the society column
# df.society.value_counts()
df.society.value_counts().shape

(639,)

In [68]:
# apply a regex transformation to parse out society names
df.society = df.society.apply(lambda name: re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()
df.society.value_counts().shape

(605,)

In [69]:
# df.price.value_counts()
df[(df.price == 'Price on Request') | (df.price == 'price')]

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
25,5 BHK Flat in Sector 1 Gurgaon,the new people apartments,Price on Request,NaN,Built Up area: 4500 (418.06 sq.m.),5 Bedrooms,1 Bathroom,No Balcony,NaN,"Sector 1, Sector 1 Gurgaon, Gurgaon, Haryana",Ground of 1 Floors,NaN,undefined,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Best in class property available at sector 1 l...,NaN,NaN,NaN
286,property_name,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1645,4 BHK Flat in Sector 50 Gurgaon,ss hibiscus,Price on Request,NaN,Carpet area: 4800 (445.93 sq.m.),4 Bedrooms,4 Bathrooms,3 Balconies,Servant Room,"Sector 50 Gurgaon, Gurgaon, Haryana",7th of 18 Floors,East,5 to 10 Year Old,"['Baani Square', 'SS Plaza', 'Good Earth City ...",4bedroom 4800sq.Ft middle floor apartment avai...,"['4 Fan', '8 Light', 'No AC', 'No Bed', 'No Ch...","['Lift(s)', 'Water purifier', 'Swimming Pool',...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
1973,1 BHK Flat in Sector 31 Gurgaon,raheja atlantis,Price on Request,NaN,Carpet area: 650 (60.39 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,"Pooja Room,Study Room,Servant Room","Yes, Sector 31 Gurgaon, Gurgaon, Haryana",3rd of 15 Floors,East,0 to 1 Year Old,"['Huda Metro Station', 'Reliance Fresh, Indira...",It is my property and good condition and good ...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
2055,2 BHK Flat in Sector 79 Gurgaon,supertech araville,Price on Request,NaN,Built Up area: 1295 (120.31 sq.m.),2 Bedrooms,2 Bathrooms,No Balcony,NaN,"Sector 79, Sector 79 Gurgaon, Gurgaon, Haryana",15th of 15 Floors,NaN,undefined,NaN,"2 bath, unfurnished, 15th floor (Of 18), super...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle3 out of 5..."
2358,2 BHK Flat in Sector 37D Gurgaon,the millennia 2,Price on Request,NaN,Carpet area: 552 (51.28 sq.m.),2 Bedrooms,1 Bathroom,1 Balcony,NaN,"Sector 37D Gurgaon, Gurgaon, Haryana",13rd of 13 Floors,NaN,undefined,"['Shri Balaji Hospital and Trauma Center', 'Sh...","1 bath, unfurnished, 13th floor (Of 13), at se...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2523,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
2550,3 BHK Flat in Sector-2 Sohna,supertech hilltown,Price on Request,NaN,Built Up area: 1720 (159.79 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"Sohna Sector 2,gurgaon, Sector-2 Sohna, Gurgao...",4th of 4 Floors,North-East,undefined,NaN,"3 bath, unfurnished, 4th floor (Of 4), overloo...",NaN,NaN,NaN
2641,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Safety5 out of 5', ..."
2960,3 BHK Flat in Sector 104 Gurgaon,godrej summit,Price on Request,NaN,Super Built up area 1647(153.01 sq.m.)Carpet a...,3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"1402, Sector 104 Gurgaon, Gurgaon, Haryana",14th of 17 Floors,NaN,1 to 5 Year Old,"['MG Road Metro Station', 'The Esplanade Mall'...",We are the proud owners of this 3 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Management3 out of 5', 'Green Area4.5 out of..."
2973,4 BHK Flat in Gwal Pahari,krrish provence estate,Price on Request,NaN,Built Up area: 5800 (538.84 sq.m.),4 Bedrooms,5 Bathrooms,1 Balcony,NaN,"Gwal Pahari, Gurgaon, Haryana",17th of 24 Floors,NaN,Under Construction,"['Tniy Toons School', 'Pathways School Gurgoan...",Residential apartment for sell.Located on 17th...,NaN,NaN,NaN
2974,4 BHK Flat in Sector 95 Gurgaon,sidhartha ncr one phase,Price on Request,NaN,Super Built up area 2354(218.69 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,NaN,"Sector 95 Gurgaon, Gurgaon, Haryana",Ground of 3 Floors,North,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","North facing entry, Very good layout, Excellen...",[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Management4 out of 5', 'Green Area4 out of 5..."

In [70]:
# remove the rows in which price is not mentioned
df = df[(df.price != 'Price on Request') & (df.price != 'price')]
df.shape

(3006, 18)

In [71]:
df.society.value_counts().shape

(602,)

In [72]:
def treat_price(x):
    """
    this function converts the price into crores
    """
    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0])/100, 2)
        else:
            return round(float(x[0]), 2)

In [73]:
# apply the function to the price column
df.price = df.price.str.split(' ').apply(treat_price)
df.price.head(10)

0    0.45
1    0.50
2    0.40
3    1.47
4    0.70
5    0.41
6    2.00
7    1.80
8    1.10
9    4.75
Name: price, dtype: float64

In [74]:
# extract the float value of the price per sqft column
# df['price_per_sqft'].value_counts()
df['price_per_sqft'] = df['price_per_sqft'].str.split('/').str.get(0).str.replace('₹', '').str.replace(',','').str.strip().astype('float')

In [75]:
df.sample(5)

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
1827,4 BHK Flat in Sector 106 Gurgaon,paras dews,1.40,9978.0,Super Built up area 2355(218.79 sq.m.)Built Up...,4 Bedrooms,6 Bathrooms,3+ Balconies,Servant Room,"D444, Sector 106 Gurgaon, Gurgaon, Haryana",10th of 24 Floors,North-West,1 to 5 Year Old,"['MG Road Metro Station', 'NeoSquare Shopping ...","Situated in sector 106 gurgaon, paras dews is ...",NaN,"['Centrally Air Conditioned', 'Water purifier'...",NaN
2924,1 BHK Flat in Golf Course Ext Road,ikon tower baani city centre,NaN,12437.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2621,4 BHK Flat in DLF Phase 5,dlf royalton tower,6.20,20687.0,Super Built up area 2997(278.43 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"092, DLF Phase 5, Gurgaon, Haryana",9th of 15 Floors,NaN,5 to 10 Year Old,"['Daddy of Tastes', 'Soul and Spice Co.', 'Caf...",We are the proud owners of this 4 bhk apartmen...,[],['Visitor Parking'],"['Environment5 out of 5', 'Safety5 out of 5', ..."
21,3 BHK Flat in Sector 79 Gurgaon,bestech altura,1.85,8604.0,Super Built up area 2150(199.74 sq.m.),3 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"Sector 79 Gurgaon, Gurgaon, Haryana",11st of 22 Floors,North,0 to 1 Year Old,"['Sapphire 83 Mall', 'NH -8', 'Golf Course Ext...",This lovely 3 bhk apartment/flat in sector 79 ...,"['5 AC', '1 Chimney', '1 Modular Kitchen', 'No...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
988,2 BHK Flat in Sector 85 Gurgaon,ss the leaf,1.10,12471.0,Super Built up area 1640(152.36 sq.m.)Built Up...,2 Bedrooms,2 Bathrooms,3 Balconies,Study Room,"Sector 85 Gurgaon, Gurgaon, Haryana",12nd of 26 Floors,North,1 to 5 Year Old,"['Sapphire 83 Mall', 'Dwarka Expressway', 'Cen...","Ss the leaf in sector 85, gurgaon is a ready-T...","['4 AC', 'No Bed', 'No Chimney', 'No Curtains'...","['Intercom Facility', 'Lift(s)', 'High Ceiling...","['Green Area4.5 out of 5', 'Construction4.5 ou..."

In [76]:
df['areaWithType'].value_counts().head(15)

Super Built up area 1578(146.6 sq.m.)                                            17
Super Built up area 1350(125.42 sq.m.)                                           17
Super Built up area 1950(181.16 sq.m.)Carpet area: 1161 sq.ft. (107.86 sq.m.)    17
Super Built up area 1650(153.29 sq.m.)Carpet area: 1022.58 sq.ft. (95 sq.m.)     15
Super Built up area 2010(186.74 sq.m.)                                           14
Super Built up area 2150(199.74 sq.m.)                                           12
Super Built up area 1950(181.16 sq.m.)                                           11
Carpet area: 1650 (153.29 sq.m.)                                                 11
Super Built up area 1920(178.37 sq.m.)                                           10
Super Built up area 1550(144 sq.m.)                                              10
Carpet area: 1150 (106.84 sq.m.)                                                 10
Super Built up area 1650(153.29 sq.m.)                                           10
Carpet area: 1450 (134.71 sq.m.)                                                  9
Super Built up area 1828(169.83 sq.m.)                                            9
Carpet area: 489 (45.43 sq.m.)                                                    9
Name: areaWithType, dtype: int64

In [77]:
df.bedrooms.isnull().sum()

9

In [78]:
df[df.bedrooms.isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
2850,2 BHK Flat in Sector 107 Gurgaon,signature global solera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2851,4 BHK Flat in Sector 53 Gurgaon,tulip monsella,NaN,33198.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2852,2 BHK Flat in New Palam Vihar,my home,NaN,4400.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2853,2 BHK Flat in Sohna,breez global hill view,NaN,5470.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2923,3 BHK Flat in Sector 99A Gurgaon,pareena coban residences,NaN,5759.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2924,1 BHK Flat in Golf Course Ext Road,ikon tower baani city centre,NaN,12437.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2925,2 BHK Flat in Sector 89 Gurgaon,greenopolis,NaN,4820.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2927,4 BHK Flat in C Block Sushant Lok Phase 1,maple heights,NaN,8888.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2928,2 BHK Flat in Sector 99 Gurgaon,assotech blith,NaN,6593.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
# as the rows containing null values in bedroom have null in other columns too, drop them
df = df[~df.bedrooms.isnull()]

In [80]:
# extract the integer value from bedrooms
df.bedrooms = df.bedrooms.str.split(' ').str.get(0).astype('int')
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2 Bathrooms,1 Balcony,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2 Bathrooms,3 Balconies,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2 Bathrooms,2 Balconies,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2 Bathrooms,3 Balconies,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [81]:
df.balconies.value_counts()

3 Balconies     974
3+ Balconies    862
2 Balconies     749
1 Balcony       315
No Balcony       97
Name: balconies, dtype: int64

In [82]:
# extract the integer values from bathrooms and balconies columns
df.bathrooms = df.bathrooms.str.split(' ').str.get(0).astype('int')
df.balconies = df.balconies.str.split(' ').str.get(0).str.replace('No', '0')
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,NaN,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,NaN,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,NaN,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,Study Room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,Study Room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [83]:
df.additional_room.value_counts()

Servant Room                                     629
Study Room                                       232
Others                                           179
Pooja Room                                       132
Study Room,Servant Room                           81
Store Room                                        76
Pooja Room,Servant Room                           60
Servant Room,Others                               52
Servant Room,Pooja Room                           30
Study Room,Others                                 27
Pooja Room,Study Room,Servant Room,Others         25
Pooja Room,Study Room,Servant Room                24
Servant Room,Store Room                           19
Pooja Room,Study Room                             13
Pooja Room,Study Room,Servant Room,Store Room     12
Study Room,Pooja Room                              8
Servant Room,Study Room                            8
Study Room,Servant Room,Store Room                 7
Pooja Room,Store Room                              6
Pooja Room,Others                                  6
Others,Servant Room                                6
Servant Room,Study Room,Pooja Room,Store Room      6
Pooja Room,Servant Room,Others                     6
Study Room,Servant Room,Others                     5
Pooja Room,Store Room,Study Room,Servant Room      4
Pooja Room,Study Room,Store Room                   4
Servant Room,Pooja Room,Study Room,Store Room      3
Study Room,Pooja Room,Store Room                   3
Store Room,Servant Room                            3
Servant Room,Study Room,Store Room                 2
Pooja Room,Study Room,Others                       2
Study Room,Pooja Room,Servant Room                 2
Servant Room,Others,Store Room,Pooja Room          2
Servant Room,Others,Pooja Room                     2
Study Room,Servant Room,Pooja Room,Store Room      2
Others,Study Room                                  1
Servant Room,Study Room,Others                     1
Servant Room,Pooja Room,Study Room                 1
Servant Room,Study Room,Pooja Room                 1
Store Room,Pooja Room,Servant Room                 1
Servant Room,Pooja Room,Store Room,Study Room      1
Study Room,Store Room                              1
Store Room,Study Room                              1
Servant Room,Pooja Room,Store Room                 1
Study Room,Servant Room,Store Room,Pooja Room      1
Study Room,Servant Room,Pooja Room                 1
Pooja Room,Servant Room,Study Room,Store Room      1
Pooja Room,Study Room,Store Room,Servant Room      1
Store Room,Pooja Room                              1
Name: additional_room, dtype: int64

In [84]:
df.additional_room.isnull().sum()

1305

In [85]:
# fill the null values in the additional_room column
df.additional_room.fillna('not available', inplace=True)
df.additional_room = df.additional_room.str.lower()
df.head()

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,2 BHK Flat in Krishna Colony,maa bhagwati residency,0.45,5000.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4th of 4 Floors,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,apna enclave,0.50,7692.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1st of 3 Floors,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,tulsiani easy in homes,0.40,6722.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12nd of 14 Floors,NaN,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,smart world orchard,1.47,12250.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2nd of 4 Floors,NaN,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,parkwood westend,0.70,5204.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5th of 8 Floors,NaN,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [100]:
# df.floor_num.value_counts()

In [90]:
df[df.floor_num.isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
181,3 BHK Flat in Dwarka Expressway Gurgaon,experion heartsong,1.08,6150.0,Built Up area: 1758 (163.32 sq.m.),3,3,0,not available,"604, Tower B-3, 6th Floor,Sector 108, Dwarka E...",NaN,NaN,Under Construction,NaN,A property by one of the most reputed builders...,[],NaN,NaN
2767,2 BHK Flat in Sector 78 Gurgaon,nan,0.60,3692.0,Built Up area: 1625 (150.97 sq.m.),2,2,0,not available,"Gurgaon, Sector 78 Gurgaon, Gurgaon, Haryana",NaN,NaN,Under Construction,NaN,The property is under construction it's by rah...,[],NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [91]:
# extract the number value from the floor_num column
df.floor_num = df.floor_num.str.split(' ').str.get(0).replace('Ground', '0').str.replace('Lower', '0').str.replace('Basement', '-1').str.extract(r'(\d+)')
df.sample(10)

,property_name,society,price,price_per_sqft,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
1726,3 BHK Flat in Sector 69 Gurgaon,tulip violet,1.55,9639.0,Super Built up area 1608(149.39 sq.m.),3,3,2,pooja room,"Lower Floor, Sector 69 Gurgaon, Gurgaon, Haryana",2,East,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",Check out this 3 bhk apartment for sale in tul...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Power Back-up', 'Feng Shui / Vaastu Complian...","['Green Area5 out of 5', 'Construction4 out of..."
2253,3 BHK Flat in Sector 36 Sohna,signature global park 4,0.85,11333.0,Carpet area: 750 (69.68 sq.m.),3,2,3,not available,"Sector 36 Sohna, Gurgaon, Haryana",1,NaN,0 to 1 Year Old,"['Sector 55-56 Metro Station', 'The Leaf Mall ...","It has various connecting roads, there is an o...",NaN,"['Security / Fire Alarm', 'Lift(s)', 'Swimming...",NaN
992,3 BHK Flat in Sector 83 Gurgaon,vatika lifestyle homes,1.10,6267.0,Super Built up area 1755(163.04 sq.m.),3,3,2,"pooja room,study room,store room","Sector 83 Gurgaon, Gurgaon, Haryana",8,South,1 to 5 Year Old,"['Sapphire 83 Mall', 'NH – 08', 'Knowledge Tre...","Sector 83 gurgaon, gurgaon, haryana\nThis is a...","['5 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area4.5 out of 5', 'Construction4 out ..."
631,2 BHK Flat in Sector 108 Gurgaon,experion the heartsong,0.90,7014.0,Super Built up area 1283(119.19 sq.m.),2,3,3,"others,servant room","Experion The Heartsong, Sector-108 Gurgaon, Se...",7,East,1 to 5 Year Old,"['Galleria 108 Mall', 'Dwarka Expressway', 'Ce...","A beautiful 2 bhk apartment in sector-108, gur...","['1 Water Purifier', '1 Exhaust Fan', '3 AC', ...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of..."
1922,2 BHK Flat in Sector 103 Gurgaon,satya the hermitage,0.89,6137.0,Super Built up area 1450(134.71 sq.m.)Carpet a...,2,3,3,servant room,"Sector 103 Gurgaon, Gurgaon, Haryana",1,NaN,1 to 5 Year Old,"['Metro Hospital, Palam Vihar', 'Huda Metro St...",First floor and park facing unit.,"['2 Geyser', '3 AC', '1 Chimney', '1 Modular K...","['Security / Fire Alarm', 'Intercom Facility',...","['Green Area5 out of 5', 'Construction4 out of..."
2407,2 BHK Flat in Sector 79 Gurgaon,godrej aria,1.30,8843.0,Super Built up area 1470(136.57 sq.m.),2,2,2,study room,"Sector 79 Gurgaon, Gurgaon, Haryana",7,NaN,1 to 5 Year Old,"['Entertainland Mall', 'Delhi Jaipur Expresswa...","This 2 bhk flat is located in godrej aria, whi...","['1 Water Purifier', '1 Fridge', '1 Fan', '1 E...","['Security / Fire Alarm', 'Power Back-up', 'In...","['Green Area4 out of 5', 'Construction5 out of..."
1708,3 BHK Flat in Sector 79 Gurgaon,mapsko mount ville,1.50,8264.0,Super Built up area 1815(168.62 sq.m.)Carpet a...,3,4,3+,servant room,"1103, Sector 79 Gurgaon, Gurgaon, Haryana",11,South,1 to 5 Year Old,"['Huda Metro Station (Gurugram)', 'Sapphire 83...",3 bhk 4 bath sun and park facing near to nh 8 ...,"['4 Wardrobe', '6 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of..."
1247,4 BHK Flat in Sector 37C Gurgaon,imperia the esfera,1.40,5384.0,Super Built up area 2600(241.55 sq.m.)Carpet a...,4,5,3,"pooja room,study room,servant room,others","Sector 37C Gurgaon, Gurgaon, Haryana",9,North,1 to 5 Year Old,"['Approved Sector 37 Mero Station', 'Esplanade...",Located in the popular residential address of ...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
2064,2 BHK Flat in Sector 92 Gurgaon,sare crescent parc,0.50,5000.0,Super Built up area 1000(92.9 sq.m.),2,2,3,not available,"Sector 92 Gurgaon, Gurgaon, Haryana",2,NaN,5 to 10 Year Old,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk apartmen...,[],"['Lift(s)', 'Swimming Pool', 'Park', 'Visitor ...","['Green Area4 out of 5', 'Construction4 out of..."
2478,2 BHK Flat in Sector 63A Gurgaon,signature global city 63a,1.65,15263.0,Super Built up area 1081(100.43 sq.m.),2,2,2,not available,"Sector 63A Gurgaon, Gurgaon, Haryana",1,NaN,2024-10-01 00:00:00,"['Sector 54 Chowk Metro Station', 'Paras Trini...",It's a 2bhk in a popular area (Adjoining humon...,"['1 Wardrobe', '1 Fan', '1 Light', '1 AC', 'No...",NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [92]:
df.facing.value_counts()

North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: facing, dtype: int64

In [93]:
# check for null values in the facing column
df.facing.isnull().sum()

874

In [94]:
# fill the null values with NA
df.facing.fillna('NA', inplace=True)

In [95]:
# create new columns: area and property type
df.insert(loc=4, column='area', value=round((df.price*10000000)/df.price_per_sqft))
df.insert(loc=1, column='property_type', value='flat')
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedrooms,bathrooms,balconies,additional_room,address,floor_num,facing,age_possession,nearby_locations,description,furnish_details,features,rating
0,2 BHK Flat in Krishna Colony,flat,maa bhagwati residency,0.45,5000.0,900.0,Carpet area: 900 (83.61 sq.m.),2,2,1,not available,"Krishna Colony, Gurgaon, Haryana",4,West,1 to 5 Year Old,"['Chintapurni Mandir', 'State bank ATM', 'Pear...",So with lift.Maa bhagwati residency is one of ...,"['3 Fan', '4 Light', '1 Wardrobe', 'No AC', 'N...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4 out of 5', 'Safety4 out of 5', ..."
1,2 BHK Flat in Ashok Vihar,flat,apna enclave,0.50,7692.0,650.0,Carpet area: 650 (60.39 sq.m.),2,2,1,not available,"46b, Ashok Vihar, Gurgaon, Haryana",1,West,10+ Year Old,"['Chintapurni Mandir', 'Sheetla Mata Mandir', ...","Property situated on main road, railway statio...","['3 Wardrobe', '4 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Maintenance Staff',...","['Environment4 out of 5', 'Safety4 out of 5', ..."
2,2 BHK Flat in Sohna,flat,tulsiani easy in homes,0.40,6722.0,595.0,Carpet area: 595 (55.28 sq.m.),2,2,3,not available,"Sohna, Gurgaon, Haryana",12,NA,0 to 1 Year Old,"['Huda City Metro', 'Golf Course extn road', '...","This property is 15 km away from badshapur, gu...",NaN,"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Environment4 out of 5', 'Safety4 out of 5', ..."
3,2 BHK Flat in Sector 61 Gurgaon,flat,smart world orchard,1.47,12250.0,1200.0,Carpet area: 1200 (111.48 sq.m.),2,2,2,study room,"Sector 61 Gurgaon, Gurgaon, Haryana",2,NA,2023-12-01 00:00:00,"['Sector 55-56 Metro station', 'Bestech Centra...",Near to metro station of sector 56 and opposit...,NaN,"['Security / Fire Alarm', 'Private Garden / Te...",NaN
4,2 BHK Flat in Sector 92 Gurgaon,flat,parkwood westend,0.70,5204.0,1345.0,Super Built up area 1345(124.95 sq.m.),2,2,3,study room,"Sector 92 Gurgaon, Gurgaon, Haryana",5,NA,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...",We are the proud owners of this 2 bhk alongwit...,[],NaN,"['Environment5 out of 5', 'Safety3 out of 5', ..."

In [96]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2997 entries, 0 to 3017
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   property_name     2997 non-null   object
 1   property_type     2997 non-null   object
 2   society           2997 non-null   object
 3   price             2996 non-null   float64
 4   price_per_sqft    2996 non-null   float64
 5   area              2996 non-null   float64
 6   areaWithType      2997 non-null   object
 7   bedrooms          2997 non-null   int64
 8   bathrooms         2997 non-null   int64
 9   balconies         2997 non-null   object
 10  additional_room   2997 non-null   object
 11  address           2991 non-null   object
 12  floor_num         2995 non-null   object
 13  facing            2997 non-null   object
 14  age_possession    2996 non-null   object
 15  nearby_locations  2906 non-null   object
 16  description       2997 non-null   object
 17  furnish_details   2200 non-null   object
 18  features          2590 non-null   object
 19  rating            2668 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 491.7+ KB

In [99]:
df.isnull().sum()

property_name         0
property_type         0
society               0
price                 1
price_per_sqft        1
area                  1
areaWithType          0
bedrooms              0
bathrooms             0
balconies             0
additional_room       0
address               6
floor_num             2
facing                0
age_possession        1
nearby_locations     91
description           0
furnish_details     797
features            407
rating              329
dtype: int64

In [102]:
# export the cleaned dataset to a csv file
df.to_csv('flats_cleaned.csv', index=False)